.commandsList {
    list-style-type: none;
    text-decoration: green;
}

.commandsList > li{
    list-style-type: none;
    padding: 10px;
}

.buttonSuccess {
    width: 100px;
    font-size: 20px;
    border-radius: 6px;
    background-color: #52913c;
    padding: 6px;
}
